.footer {
  height: auto;
  width: 100%;
  background-color: #0F0F0F;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  margin-top: 30vw;
  position: relative;
  padding: 0vw 0 3vw 0;
}
.footer-logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 13vw;
}
.footer-logo {
  width: 30vw;
  height: 15vw;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 7vh;
}
.footer-section {
  width: 100%;
  margin-top: 10vw;
  text-align: center;
}
#customer-service-section {
  margin-top: 25vw;
}
#connect-section {
  margin-top: 10vw;
}
.footer-links {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5vw;
  flex-wrap: wrap;

}
.footer-link {
  color: white;
  font-size: 2.5vw;
  width: 100%;
  margin: 2vw 0 0 0;
}
.contact-illustration {
  height: 5vw;
  width: 5vw;
  margin-right: 2.5vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.footer-section-header {
  font-weight: 500;
}
.contact-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 3vw;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 3vw;
  margin-left: -5vw;
  margin-top: 10vw;
}
.contribution {
  text-align: center;
  color: rgba(255, 255, 255, 0.641);
  font-size: 3vw;
  margin-top: 15vw;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 3vw 0 1vw 0;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 8vw;
  }
  .footer-logo-container {
    width: 20vw;
    height: 5vw;
  }
  .footer-section-header{
    margin-bottom: 2vw;
    font-size: 1.5vw;
  }
  .footer-logo {
    width: 15vw;
    height: 6vw;
    margin-left: 0vw;
    margin-top: 2vw;
  }
  .footer-section {
    width: 20vw;
    text-align: left;
  }
  #customer-service-section {
    margin-left: 20vw;
    margin-top:0vw;
  }
  #connect-section{
    margin-top: 0vw;
  }
  #contact-service-section{
    margin-left: 10vw;
  }
  .footer-links {
    width: 20vw;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 0vw;
  }
  .footer-link {
    width: 100%;
    color: rgba(255, 255, 255, 0.725);
    font-size: 1vw;
    margin: 0.5vw 0 0.5vw 0;
  }
  .contact-illustration {
    height: 2vw;
    width: 2vw;
    margin-right: 1vw;
  }
  .contact-container {
    display: flex;
    width: 27vw;
    justify-content: left;
    align-items: center;
    margin-top: 0;
  }
  .contact {
    display: flex;
    align-items: baseline;
    justify-content: left;
    font-size: 1vw;
    margin-left: 0vw;
    margin-top: 0;
    height: 24vh;
    width: 20vw;
  }
  .contribution {
    width: 100%;
    text-align: left;
    color: rgba(255, 255, 255, 0.725);
    font-size: 0.75vw;
    margin-top: 1vw;
    padding-left: 2vw;
    display: flex;
  }
  .designer{
    position: absolute;
    right: 2vw;
  }
}