html,
body {
  padding: 0;
  margin: 0;
  font-family: Italiana;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hamburger-btn {
  position: absolute;
  top: 5vw;
  right: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 15vw;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}
.hamburger {
  width: 11vw;
  height: 0.77vw;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  width: 11vw;
  height: 0.77vw;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.hamburger::before {
  transform: translateY(-3vw);
}
.hamburger::after {
  transform: translateY(3vw);
}
.hamburger-btn.open .hamburger {
  transform: translateX(-11vw);
  background: transparent;
  box-shadow: none;
}
.hamburger-btn.open .hamburger::before {
  transform: rotate(45deg) translate(8vw, -8vw);
}
.hamburger-btn.open .hamburger::after {
  transform: rotate(-45deg) translate(8vw, 8vw);
}
.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.261);
  backdrop-filter: blur(10px);
  transform: translateY(-215vh);
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
.menu.open {
  transform: translateY(0);
}
.mobile-menu-items {
  width: 100%;
  height: 20%;
  padding-top: 30vh;
  display: flex;
  flex-wrap: wrap;
}
.mobile-menu-link {
  width: 100%;
  text-align: center;
  margin: 5vh 0 5vh 0;
  font-size: 5vw;
  opacity: 0;
  transition: all 0.7s ease;
  cursor: pointer;
  background-color: transparent;
  border: none;;
}

.mobile-menu-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.mobile-menu-link.appear {
  transform: scale(1.1);
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .menu {
    display: none;
  }
  .hamburger-btn {
    display: none;
  }
}